/_add_winkler.py
/_annotate_grapes.py
/_rebuild_to_v3.py
/cleared_grapes_500.csv
/databases/grapes_annotated.db
/databases/vineyards_v3.db
/databases/vineyards_v2.db
/_hlam/
/_reannotate_ndwvi.py
/_db_to_csv.py
/models/trained_models_bin/
/models/trained_models_bin/xgboost_grape_model.json
/models/trained_models_bin/xgboost_grape_model_scaler.pkl
/models/trained_models_multi/
/models/trained_models_multi/feature_names.joblib
/models/trained_models_multi/multi_output_xgb_model.joblib
/models/trained_models_multi/scaler.joblib
/models/trained_models_multi/target_names.joblib
/annotated_grapes.csv
/vineyards_v3.csv
/.idea
/models/bin_cls.zip
/_new_params.py
/_fix_columns.py
/_fix_multipy.py
/_fix_multiply_cols.py
/models/priznaki.json
/models/trained_models_mul/
/_grapes_types_v2.py
/cleared_grapes_ohe.csv
/annotated_grapes_maxi.csv
/databases/grapes_annotated_v2.db
