/_add_winkler.py
/_annotate_grapes.py
/_rebuild_to_v3.py
/cleared_grapes_500.csv
/models/trained_models/
/models/xgboost_grape_model_scaler.pkl
/models/xgboost_grape_model.json
/databases/grapes_annotated.db
/databases/vineyards_v3.db
/databases/vineyards_v2.db
/_hlam/
/_reannotate_ndwvi.py
